
body {
  font-size: 11px;
  font-family: "Lucida Console", Monaco, monospace;
  background-color: #111;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
}

canvas {
  position: absolute;
}

.graphics {
  width: 510px;
}