@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap&subset=cyrillic');

1234body {
  font-size: 11px;
  font-family: 'Roboto Mono', monospace;
  background-color: #111;
  color: white;

  justify-content: center;
  align-items: center;
  display: flex;
}

1234canvas {
  image-rendering: pixelated;
  /*position: absolute;*/
}
