body {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  background: #111;
  color: white;
}

canvas {
  image-rendering: pixelated;
}

td {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  color: white;
  background: grey;

}

.data-container {
  background: black;
  width: 680px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mega-wrapper {
  position: absolute;
  display: flex;
  background: black;
}

.centerize {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  align-self: flex-end;
  margin-right: 10px;
}
